<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/stylecss/stylecss.css">
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <a href="/">Accueil</a>
            <a href="/about">À propos</a>
            <a href="/contact">Contact</a>
            
        </nav>

        <h1>{{ .Title }}</h1><br>
        
       <strong style="font-size: 30px; background-color: rgb(255, 255, 255,0);color: rgb(168, 19, 62);">
Elias</strong> <br>
<strong style="font-size: 25px;color:rgb(237, 187, 0);">S’occupe de l’aspect visuel et esthétique, en travaillant surtout avec HTML, CSS  pour rendre les interfaces agréables à utiliser.</strong><br><br><br><br>

<strong style="font-size: 30px; background-color: rgb(255, 255, 255,0);color:rgb(219, 0, 48);">
Robin</strong> <br>

<strong style="font-size: 25px;color:rgb(237, 187, 0);">Apporte son savoir-faire et sa rigueur, principalement en Go, pour que les projets avancent sans accrocs.</strong><br><br><br><br>
    </div>
    <p>{{ .Message }}</p>
</body>
</html>