<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/stylecss/stylecss.css">
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <a href="/">Accueil</a>
            <a href="/about">À propos</a>
            <a href="/contact">Contact</a>
        </nav>

        <h1>{{ .Title }}</h1>
        <p>{{ .Message }}</p>

        <form method="post" action="/contact">
            <label>Nom :</label><br>
            <input type="text" name="name"><br><br>
            
            <label>Message :</label><br>
            <textarea name="msg"></textarea><br><br>
            
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>